In [1]:
#q1
d = {"person1":
     {"first_name": "Sana", 
      "last_name":"Khan", 
      "age": 20, 
      "city": "Karachi"},
    "person2":
     {"first_name": "Noor", 
      "last_name":"Akhtar", 
      "age": 25, 
      "city": "Lahore"},
     "person3":
     {"first_name": "Ali", 
      "last_name":"Khan", 
      "age": 30, 
      "city": "Hyderabad"}
    }
print(d)
d["person1"].update({"qualification":"intermediate"})
d["person2"].update({"qualification":"graduate"})
d["person3"].update({"qualification":"masters"})
print("\n")
print(d)
d["person1"].update({"qualification":"graduate"}) #qualification updated to higher level
print("\n")
print(d)
d["person1"].pop("qualification")
d["person2"].pop("qualification")
d["person3"].pop("qualification")
print("\n")
print(d)

{'person1': {'first_name': 'Sana', 'last_name': 'Khan', 'age': 20, 'city': 'Karachi'}, 'person2': {'first_name': 'Noor', 'last_name': 'Akhtar', 'age': 25, 'city': 'Lahore'}, 'person3': {'first_name': 'Ali', 'last_name': 'Khan', 'age': 30, 'city': 'Hyderabad'}}


{'person1': {'first_name': 'Sana', 'last_name': 'Khan', 'age': 20, 'city': 'Karachi', 'qualification': 'intermediate'}, 'person2': {'first_name': 'Noor', 'last_name': 'Akhtar', 'age': 25, 'city': 'Lahore', 'qualification': 'graduate'}, 'person3': {'first_name': 'Ali', 'last_name': 'Khan', 'age': 30, 'city': 'Hyderabad', 'qualification': 'masters'}}


{'person1': {'first_name': 'Sana', 'last_name': 'Khan', 'age': 20, 'city': 'Karachi', 'qualification': 'graduate'}, 'person2': {'first_name': 'Noor', 'last_name': 'Akhtar', 'age': 25, 'city': 'Lahore', 'qualification': 'graduate'}, 'person3': {'first_name': 'Ali', 'last_name': 'Khan', 'age': 30, 'city': 'Hyderabad', 'qualification': 'masters'}}


{'person1': {'first_name': 'Sana', 'last_name': 'Khan', 'age': 20, 'city': 'Karachi'}, 'person2': {'first_name': 'Noor', 'last_name': 'Akhtar', 'age': 25, 'city': 'Lahore'}, 'person3': {'first_name': 'Ali', 'last_name': 'Khan', 'age': 30, 'city': 'Hyderabad'}}

In [5]:
#q2
cities = {
    "Karachi":{
        "country":"Pakistan",
        "population": "14.91 million",
        "fact":"known as a city of lights"},
    "Delhi":{
        "country":"India",
        "population": "18.98 million",
        "fact":"second most populated city of the world"},
    "Tokyo":{
        "country":"Japan",
        "population": "9.273 million",
        "fact":"great for tax free shopping"}
    }
print("Karachi: "+ str(cities["Karachi"]))
print("Delhi: "+ str(cities["Delhi"]))
print("Tokyo: " + str(cities["Tokyo"]))

Karachi: {'country': 'Pakistan', 'population': '14.91 million', 'fact': 'known as a city of lights'}
Delhi: {'country': 'India', 'population': '18.98 million', 'fact': 'second most populated city of the world'}
Tokyo: {'country': 'Japan', 'population': '9.273 million', 'fact': 'great for tax free shopping'}

In [6]:
#q3
num = int(input("Enter number of person’s: "))
i=1
sum = 0
while i<=num:
    i=i+1
    age = int(input("enter age of person: "))
    if (age<3):
        print("ticket is free")
        sum = sum + 0
    elif (age<12 and age>3):
        print("the ticket is $10")
        sum = sum + 10
    else:
        print("the ticket is $15")
        sum = sum +15
print("Total cost is $" + str(sum))

Enter number of person’s: 4
enter age of person: 12
the ticket is $15
enter age of person: 20
the ticket is $15
enter age of person: 10
the ticket is $10
enter age of person: 8
the ticket is $10
Total cost is $50

In [7]:
def favorite_book(title):
    print("One of my favorite books is " + title)
    
favorite_book("Alice in Wonderland")

One of my favorite books is Alice in Wonderland

In [9]:
import random
x = random.randint(1,30)
print("Guess the number game")
i=1
while(i<=3):
    user_input = int(input("Guess the correct number between 1 to 30 "))
    while (i<=3):
        i= i+1
        if(user_input>x):
            print("Try Again!! You have guessed a greater number.")
            break
        elif(user_input<x):
            print("Try Again!! You have guessed a smaller number.")
            break
        else:
            print("Congratulations!! You have guessed the correct number.")
            break

Guess the number game
Guess the correct number between 1 to 30 10
Try Again!! You have guessed a smaller number.
Guess the correct number between 1 to 30 15
Try Again!! You have guessed a greater number.
Guess the correct number between 1 to 30 13
Congratulations!! You have guessed the correct number.